@import "../../css/colors.css";
@import "../../css/units.css";

.body {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.extension-card {
    background: $ui-white;
    border: 2px solid $ui-black-transparent;
    border-radius: $space;
    padding: calc($space * 1.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extension-card p {
    overflow-wrap: anywhere;
    margin: 0;
}

.delete-option {
    background-image: url("../delete-button/icon--delete.svg");
    appearance: none;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: $looks-secondary;
    background-size: 100%;
    border: 1px solid $ui-black-transparent;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s;
}

.delete-option:hover,
.checkbox-option:hover {
    border: 1px solid $looks-secondary;
    box-shadow: 0 0 0 4px $looks-transparent;
}

.checkbox-option {
    width: 20px;
    height: 20px;
    transition: all 0.2s;
}

.multi-select-row {
    margin-top: 1rem;
    font-weight: bolder;
    text-align: right;
}

.multi-select-normal,
.multi-select-delete {
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    font-weight: bold;
    font-size: 0.85rem;
}

.multi-select-normal {
    background: white;
    color: black;
}

.multi-select-delete {
    border-color: $looks-secondary;
    background: $looks-secondary;
    color: white;
}

.multi-select-delete:disabled {
    opacity: 0.5;
}

[dir="ltr"] .multi-select-normal + .multi-select-delete {
    margin-left: 0.5rem;
}

[dir="rtl"] .multi-select-normal + .multi-select-delete {
    margin-right: 0.5rem;
}
